<%= render "shared/header" %>
<body class="bg-gray-100">
  <h1>YouTube APIテスト</h1>
  <p>取得した動画タイトル: <%= @title %></p>

  <% if @thumbnail_url %>
    <p>サムネイル:</p>
    <img src="<%= @thumbnail_url %>" alt="動画サムネイル">
  <% end %>
</body>
