<div class="grid gap-4 justify-center box-border grid-cols-[repeat(auto-fit,minmax(260px,1fr))] p-10 mx-auto max-w-screen-xl">
  <div class="shadow-md rounded bg-white w-70 h-80 overflow-hidden">
    <div>
      <%= image_tag "yt_icon_red_digital.png", alt: "Youtube", class: "w-8 h-8 -m-0.5" %>
    </div>
    <div class="flex justify-center flex-col space-y-2">
      <div class="w-30 h-30 rounded-full mx-auto">
        <%= image_tag "kkrn_icon_user_4.png" %>
      </div>
      <div class="mx-auto">
        チャンネル名
      </div>
      <div class="mx-auto">
        チャンネル登録者数
      </div>
      <div class="mx-auto">
        100,000,000人
      </div>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 w-30 rounded-full mx-auto">
        登録
      </button>
    </div>
  </div>
</div>