<footer class="bg-gray-800 text-white px-2 py-2 flex items-center justify-center w-full">
  <p>© 2026 FanCast | 
    <%= link_to "利用規約", terms_path, target: "_blank", rel: "noopener noreferrer", class: "text-blue-600 visited:text-purple-600 hover:underline" %> | 
    <%= link_to "プライバシーポリシー", privacy_path, target: "_blank", rel: "noopener noreferrer", class: "text-blue-600 visited:text-purple-600 hover:underline" %>
  </p>
</footer>
